<div class="display pt-2 pl-2 pr-2">
  <div class="row">
    <div class="col pr-1">
      <div class="card">
        <div class="row">
          <div class="col left ml-2">
            <p class="h5 mt-2">
              <i class="fa fa-archive" aria-hidden="true"></i> คลังย่อย
            </p>
          </div>
          <div class="col mr-2 mb-2">
            <select
              class="form-select mt-2"
              aria-label="Default select example"
              #cricket
              (change)="selectDep($event)"
            >
              <option *ngFor="let x of listDepID" [value]="x.depCode">
                {{ x.depName }}
              </option>
            </select>
          </div>
          <div class="col right mr-2">
            <mat-form-field>
              <input matInput (keyup)="drugFilter($event)" #input />
              <mat-placeholder>ค้นหา : Code / Name</mat-placeholder>
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="card-body">
          <table
            mat-table
            [dataSource]="dataINV"
            #sortINV="matSort"
            matSort
            class=""
            matSortActive=""
            matSortDirection=""
          >
            <ng-container matColumnDef="indexrow">
              <th mat-header-cell *matHeaderCellDef>#</th>
              <td mat-cell *matCellDef="let element">{{ element.indexrow }}</td>
            </ng-container>

            <ng-container matColumnDef="invCode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                รหัส INV
              </th>
              <td mat-cell *matCellDef="let element" class="">
                {{ element.invCode }}
              </td>
            </ng-container>
            <ng-container matColumnDef="drugCode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>รหัสยา</th>
              <td mat-cell *matCellDef="let element" class="">
                {{ element.drugCode }}
              </td>
            </ng-container>

            <ng-container matColumnDef="drugName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อยา</th>
              <td mat-cell *matCellDef="let element" class="">
                {{ element.drugName }}
              </td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                จำนวนคงเหลือ
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                class="right 
                    {{ element.amount > 0 ? 'have' : 'no' }}"
              >
                {{ element.amount }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedINV"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedINV; let i = index"
              style="cursor: pointer"
              (click)="selectDrug(row)"
              [ngClass]="{
                highlightTableColor: selectedRowIndex == row.indexrow
              }"
            ></tr>
          </table>
          <mat-paginator
            #paginatorINV="matPaginator"
            style="display: flex; justify-content: center"
            [length]="10"
            [pageSize]="10"
            showFirstLastButtons
          >
          </mat-paginator>
        </div>
      </div>
    </div>
    <div class="col pl-1">
      <div class="card">
        <!-- ดูล็อต -->
        <div class="row">
          <div class="col mt-2 ml-2">
            <p class="h5">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              {{ selectDrugName }}
            </p>
          </div>
        </div>
        <div class="card-body">
          <div [hidden]="lotSubStock.length == 0">
            <table
              mat-table
              [dataSource]="dataLot"
              #sortLot="matSort"
              matSort
              class=""
              matSortActive="EXPIRED_DATE"
              matSortDirection="asc"
            >
              <ng-container matColumnDef="LOT_NO">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  LOT. NO
                </th>
                <td mat-cell *matCellDef="let element" class="">
                  {{ element.LOT_NO }}
                </td>
              </ng-container>
              <ng-container matColumnDef="EXPIRED_DATE">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  EXP. Date
                </th>
                <td mat-cell *matCellDef="let element" class="center">
                  {{ element.EXPIRED_DATE }}
                </td>
              </ng-container>
              <ng-container matColumnDef="QTY_ON_HAND">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  จำนวนคงเหลือ
                </th>
                <td mat-cell *matCellDef="let element" class="right num">
                  {{ element.QTY_ON_HAND }}
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedLot"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedLot"></tr>
            </table>
            <mat-paginator
              #paginatorLot="matPaginator"
              style="display: flex; justify-content: center"
              [length]="10"
              [pageSize]="10"
              showFirstLastButtons
            >
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
