<ngx-spinner type="timer"></ngx-spinner>
<div class="container-fluid">
  <div class="row rowtop">
    <div class="col">
      <h2><i class="fas fa-chart-line"></i> คาดการณ์ยาล่วงหน้า</h2>
    </div>
    <div class="col center">
      <form [formGroup]="campaign">
        <mat-form-field>
          <mat-label>เลือกวัน</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="picker"
            (dateChange)="dateChange($event)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </form>
    </div>
    <div class="col center">
      <select
        class="form-control"
        id="exampleFormControlSelect1"
        #cricket
        (change)="changeUnit($event)"
      >
        <option
          *ngFor="let x of units"
          [value]="x.value"
          [selected]="selectUnit === x.value"
        >
          {{ x.viewValue }}
        </option>
      </select>
    </div>
    <div class="col right">
      <mat-form-field>
        <input matInput (keyup)="appointFilter($event)" #input />
        <mat-placeholder>ค้นหา : ชื่อยา</mat-placeholder>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="example-container">
    <table
      mat-table
      [dataSource]="dataAppoint"
      #sortAppoint="matSort"
      matSort
      matSortActive="name"
      matSortDirection="asc"
      matTableExporter
      #exporterSelect="matTableExporter"
    >
      <ng-container matColumnDef="invCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>รหัสยา INV</th>
        <td mat-cell *matCellDef="let element" class="">
          {{ element.invCode }}
        </td>
      </ng-container>
      <ng-container matColumnDef="drugCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>รหัสยา HomC</th>
        <td mat-cell *matCellDef="let element" class="">
          {{ element.drugCode }}
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อยา</th>
        <td mat-cell *matCellDef="let element" class="">
          {{ element.name }}
        </td>
      </ng-container>
      <ng-container matColumnDef="DFORM_NAME">
        <th mat-header-cell *matHeaderCellDef>ชนิดยา</th>
        <td mat-cell *matCellDef="let element" class="">
          {{ element.DFORM_NAME }}
        </td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>นัดหมาย</th>
        <td mat-cell *matCellDef="let element" class="right">
          {{ element.amount }}
        </td>
      </ng-container>
      <ng-container matColumnDef="addOn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>+ 30%</th>
        <td mat-cell *matCellDef="let element" class="right">
          {{ element.addOn }}
        </td>
      </ng-container>
      <ng-container matColumnDef="pack">
        <th mat-header-cell *matHeaderCellDef>จำนวน/กล่อง</th>
        <td mat-cell *matCellDef="let element" class="right">
          {{ element.pack }}
        </td>
      </ng-container>
      <ng-container matColumnDef="onhand">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ยาในห้อง</th>
        <td mat-cell *matCellDef="let element" class="right">
          {{ element.onhand }}
        </td>
      </ng-container>
      <ng-container matColumnDef="DISP">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ที่ต้องเบิก</th>
        <td mat-cell *matCellDef="let element" class="right">
          {{ element.DISP }}
        </td>
      </ng-container>
      <ng-container matColumnDef="DISP_QTY">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          ที่ต้องเบิกสุทธิ
        </th>
        <td mat-cell *matCellDef="let element" class="right">
          <b>{{ element.DISP_QTY }}</b>
        </td>
      </ng-container>
      <ng-container matColumnDef="dispen">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>จ่ายจริง</th>
        <td mat-cell *matCellDef="let element" class="right">
          <b>{{ element.dispen }}</b>
        </td>
      </ng-container>
      <ng-container matColumnDef="accuracy1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          ความแม่นยำ (นัดหมาย)
        </th>
        <td mat-cell *matCellDef="let element" class="right">
          <div
            class="{{
              element.accuracy1 > 49
                ? 'green'
                : element.accuracy1 > 0
                ? 'oran'
                : 'grey'
            }}"
          >
            <b>{{ element.accuracy1 }} %</b>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="accuracy30">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          ความแม่นยำ (+30%)
        </th>
        <td mat-cell *matCellDef="let element" class="right">
          <div
            class="{{
              element.accuracy30 > 49
                ? 'green'
                : element.accuracy30 > 0
                ? 'oran'
                : 'grey'
            }}"
          >
            <b>{{ element.accuracy30 }} %</b>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayAppoint; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayAppoint; let i = index"
      ></tr>
    </table>
  </div>
  <div class="row rowbottom">
    <div class="col" *ngIf="formattedDateNum < enDateNum">
      <button
        type="button"
        class="btn btn-light"
        (click)="
          exporterINV.exportTable('xls', {
            fileName: 'เบิกยา(' + this.unitName + ')(' + this.enDate + ')',
            sheet: 'sheet1',
            Props: { Author: 'Talha' }
          })
        "
      >
        <i class="fas fa-file-download blue"></i> สร้างไฟล์เบิก - {{ unitName }}
      </button>
    </div>
    <div class="col" *ngIf="formattedDateNum === enDateNum">
      <i class="fas fa-spinner"></i> อยู่ระหว่างดำเนินการ
    </div>
    <div class="col-md-auto" *ngIf="formattedDateNum > enDateNum">
      <div class="form-check">
        <input
          class="form-check-input pointer"
          type="checkbox"
          value=""
          id="defaultCheck1"
          (change)="selectToDis()"
        />
        <label class="form-check-label pointer" for="defaultCheck1"
          >แสดงเฉพาะยาที่จ่าย</label
        >
      </div>
    </div>
    <div class="col-md-auto" *ngIf="formattedDateNum > enDateNum">
      <i class="far fa-calendar-check"></i> นัดหมาย :
      <b>{{ accuracy1 }} %</b>
    </div>
    <div class="col-md-auto" *ngIf="formattedDateNum > enDateNum">
      <i class="far fa-calendar-check"></i> +30% :
      <b>{{ accuracy30 }} %</b>
    </div>
    <div class="col" *ngIf="formattedDateNum > enDateNum">
      <button
        type="button"
        class="btn btn-light"
        (click)="
          exporterSelect.exportTable('xlsx', {
            fileName: 'คาดการยา_' + enDate,
            sheet: 'sheet1',
            Props: { Author: 'Talha' }
          })
        "
      >
        <i class="fas fa-file-download blue"></i> ส่งออกไฟล์
      </button>
    </div>
    <div class="col-md-auto">
      <mat-paginator
        #paginatorAppoint="matPaginator"
        [length]="10"
        [pageSize]="10"
        [pageSizeOptions]="[10, 25, 50]"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </div>
</div>

<div class="row" style="display: none">
  <table
    mat-table
    [dataSource]="dataAppoint"
    #sortAppoint="matSort"
    matSort
    class=""
    matSortActive="DISP_DATE"
    matSortDirection="asc"
    matTableExporter
    #exporterINV="matTableExporter"
  >
    <ng-container matColumnDef="indexrow">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
      <td mat-cell *matCellDef="let element">
        {{ element.indexrow }}
      </td>
    </ng-container>
    <ng-container matColumnDef="DISP_DATE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>DISP_DATE</th>
      <td mat-cell *matCellDef="let element" class="">
        {{ DISP_DATE }}
      </td>
    </ng-container>
    <ng-container matColumnDef="MED_CODE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>MED_CODE</th>
      <td mat-cell *matCellDef="let element" class="">
        {{ element.MED_CODE }}
      </td>
    </ng-container>
    <ng-container matColumnDef="DISP_DEPT">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>DISP_DEPT</th>
      <td mat-cell *matCellDef="let element" class="">
        {{ DISP_DEPT }}
      </td>
    </ng-container>
    <ng-container matColumnDef="DISP_QTY">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>DISP_QTY</th>
      <td mat-cell *matCellDef="let element" class="">
        {{ element.DISP_QTY }}
      </td>
    </ng-container>
    <ng-container matColumnDef="DISP_NAME">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>DISP_NAME</th>
      <td mat-cell *matCellDef="let element" class="right">
        {{ element.DISP_NAME }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayINV"></tr>
    <tr mat-row *matRowDef="let row; columns: displayINV; let i = index"></tr>
  </table>
</div>
