<ngx-spinner type="timer"></ngx-spinner>
<div class="container-fluid">
  <div class="row rowtop">
    <div class="col">
      <h2><i class="fas fa-pills"></i> ยาคงเหลือ</h2>
    </div>
    <div class="col center">
      <mat-form-field>
        <input matInput (keyup)="INVFilter($event)" #input />
        <mat-placeholder>ค้นหา :</mat-placeholder>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div class="col right">
      <a
        href="#TransferIn"
        class="btn btn-light mr-1 btns"
        role="button"
        aria-pressed="true"
        ><i class="fas fa-plus-circle green"></i> นำยาเข้า</a
      >
      <a
        href="#TransferOut"
        class="btn btn-light btns"
        role="button"
        aria-pressed="true"
        ><i class="fas fa-minus-circle red"></i> นำยาออก</a
      >
    </div>
  </div>

  <div class="example-container">
    <table
      mat-table
      [dataSource]="dataINV"
      #sortINV="matSort"
      matSort
      matSortActive=""
      matSortDirection="asc"
    >
      <ng-container matColumnDef="invCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sticky">
          โค้ด INV
        </th>
        <td mat-cell *matCellDef="let element" class="">
          {{ element.invCode }}
        </td>
      </ng-container>
      <ng-container matColumnDef="drugCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sticky">
          โค้ด Homc
        </th>
        <td mat-cell *matCellDef="let element" class="">
          {{ element.drugCode }}
        </td>
      </ng-container>
      <ng-container matColumnDef="drugName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sticky">
          ชื่อยา
        </th>
        <td mat-cell *matCellDef="let element" class="">
          {{ element.drugName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef class="sticky">ตำแหน่ง</th>
        <td mat-cell *matCellDef="let element" class="">
          <div *ngFor="let x of element.position; let i = index">
            <div>{{ x }}</div>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="LOT_NO">
        <th mat-header-cell *matHeaderCellDef class="sticky">
          Lot. No. / Exp.
        </th>
        <td mat-cell *matCellDef="let element" class="">
          <div *ngIf="element.LOT_NO">
            <div *ngFor="let x of element.LOT_NO; let i = index">
              <div
                class="pointer"
                *ngIf="i === 0"
                (click)="showFullLot(element.drugCode)"
              >
                {{ x }}
                <i
                  class="fas fa-caret-down"
                  style="color: #007bff"
                  *ngIf="fullLotCode !== element.drugCode"
                ></i>
              </div>
              <div
                class="pointer"
                *ngIf="fullLotCode === element.drugCode && i > 0"
                (click)="showFullLot(element.drugCode)"
              >
                {{ x }}
              </div>
            </div>
          </div>
        </td>
      </ng-container>
      <!-- <ng-container matColumnDef="LOT_NO">
          <th mat-header-cell *matHeaderCellDef>Lot. No.</th>
          <td mat-cell *matCellDef="let element" class="">
            <div *ngFor="let x of element.LOT_NO; let i = index">
              <div *ngIf="i === 0">{{ x }}</div>
              <div (click)="toggleFullLotInfo(element.LOT_NO)">Show Full</div>
              <div *ngIf="showFullLotInfo"> 
                <div *ngFor="let fullLot of element.LOT_NO">{{ fullLot }}</div>
              </div>
            </div>
          </td>
        </ng-container> -->

      <ng-container matColumnDef="EXP_Date">
        <th mat-header-cell *matHeaderCellDef class="sticky">EXP. Date</th>
        <td mat-cell *matCellDef="let element" class="">
          <div *ngFor="let x of element.EXP_Date; let i = index">
            <div class="{{ i > 0 ? 'topLine' : '' }}">{{ x }}</div>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sticky">
          คงเหลือรวม
        </th>
        <td mat-cell *matCellDef="let element" class="right">
          <b class="{{ element.amount > 0 ? 'green' : 'red' }}">{{
            element.amount
          }}</b>
        </td>
      </ng-container>
      <ng-container matColumnDef="miniSpec">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sticky">
          หน่วย
        </th>
        <td mat-cell *matCellDef="let element" class="">
          {{ element.miniSpec }}
        </td>
      </ng-container>

      <ng-container matColumnDef="invPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sticky">
          ราคาทุนรวม
        </th>
        <td mat-cell *matCellDef="let element" class="right">
          {{ element.invPrice }} ฿
        </td>
      </ng-container>
      <ng-container matColumnDef="mhrPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sticky">
          ราคาขายรวม
        </th>
        <td mat-cell *matCellDef="let element" class="right">
          {{ element.mhrPrice }} ฿
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="sticky"></th>
        <td mat-cell *matCellDef="let element" class="center">
          <button
            type="button"
            class="btn btn-primary btn-sm mr-1"
            (click)="editAmount(element)"
            *ngIf="role === 'stock'"
          >
            <i class="far fa-edit"></i>
          </button>
          <button
            type="button"
            class="btn btn-warning btn-sm"
            (click)="drugHistory(element)"
          >
            <i class="far fa-question-circle"></i>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedINV; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedINV"></tr>
    </table>
  </div>

  <div class="row rowbottom">
    <div class="col ">
      <button
        type="button"
        class="btn btn-light btns"
        (click)="
          exporterINV.exportTable('xlsx', {
            fileName: 'รายงานยาคงเหลือ' + '_' + dep,
            sheet: 'sheet1',
            Props: { Author: 'Talha' }
          })
        "
      >
        <i class="fas fa-file-download blue"></i> ส่งออกไฟล์
      </button>
    </div>
    <div class="col-md-auto">
      <mat-paginator
        #paginatorINV="matPaginator"
        [length]="10"
        [pageSize]="10"
        [pageSizeOptions]="[10, 25, 50]"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="drugHisModal"
  tabindex="-1"
  aria-labelledby="drugHisModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" *ngIf="detailDrugHit">
        <h2 class="modal-title" id="drugHisModalLabel">
          <i class="fas fa-pills"></i> {{ detailDrugHit.drugName }}
          {{ detailDrugHit.amount }}
          {{ detailDrugHit.miniSpec }}
        </h2>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="">
          <table
            mat-table
            [dataSource]="dataDrugHit"
            #sortDrugHit="matSort"
            matSort
            matSortActive=""
            matSortDirection="asc"
            matTableExporter
            #exporterDrugHit="matTableExporter"
          >
            <ng-container matColumnDef="createDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>วันที่</th>
              <td mat-cell *matCellDef="let element" class="">
                {{ element.createDate }}
              </td>
            </ng-container>
            <ng-container matColumnDef="depFrom">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>ต้นทาง</th>
              <td mat-cell *matCellDef="let element" class="">
                {{ element.depFrom }}
              </td>
            </ng-container>
            <ng-container matColumnDef="depTo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>ปลายทาง</th>
              <td mat-cell *matCellDef="let element" class="">
                {{ element.depTo }}
              </td>
            </ng-container>
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="">
                จำนวน
              </th>
              <td mat-cell *matCellDef="let element" class="right">
                <b *ngIf="element.drugFrom == dep" style="color: red"
                  >- {{ element.amount }}</b
                >
                <b *ngIf="element.drugFrom != dep" style="color: green"
                  >+ {{ element.amount }}</b
                >
              </td>
            </ng-container>
            <ng-container matColumnDef="userName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="">
                ผู้ปฏิบัติงาน
              </th>
              <td mat-cell *matCellDef="let element" class="">
                {{ element.userName }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayDrugHit"></tr>
            <tr mat-row *matRowDef="let row; columns: displayDrugHit"></tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <mat-paginator
          #paginatorDrugHit="matPaginator"
          [length]="10"
          [pageSize]="10"
          [pageSizeOptions]="[10, 25, 50]"
          showFirstLastButtons
        >
        </mat-paginator>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          ปิด
        </button>
      </div>
    </div>
  </div>
</div>

<table
  hidden
  mat-table
  [dataSource]="dataINV"
  #sortINV="matSort"
  matSort
  class=""
  matSortActive="drugName"
  matSortDirection="asc"
  matTableExporter
  #exporterINV="matTableExporter"
>
  <ng-container matColumnDef="invCode">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>โค้ด INV</th>
    <td mat-cell *matCellDef="let element" class="">
      {{ element.invCode }}
    </td>
  </ng-container>
  <ng-container matColumnDef="drugCode">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>โค้ด Homc</th>
    <td mat-cell *matCellDef="let element" class="">
      {{ element.drugCode }}
    </td>
  </ng-container>
  <ng-container matColumnDef="drugName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อยา</th>
    <td mat-cell *matCellDef="let element" class="">
      {{ element.drugName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>ตำแหน่ง</th>
    <td mat-cell *matCellDef="let element" class="">
      {{ element.position }}
    </td>
  </ng-container>
  <ng-container matColumnDef="LOT_NO">
    <th mat-header-cell *matHeaderCellDef>Lot. No.</th>
    <td mat-cell *matCellDef="let element" class="">
      {{ element.LOT_NO }}
    </td>
  </ng-container>
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>คงเหลือรวม</th>
    <td mat-cell *matCellDef="let element" class="right">
      <b class="{{ element.amount > 0 ? 'green' : 'red' }}">{{
        element.amount
      }}</b>
    </td>
  </ng-container>
  <ng-container matColumnDef="miniSpec">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>หน่วย</th>
    <td mat-cell *matCellDef="let element" class="">
      {{ element.miniSpec }}
    </td>
  </ng-container>

  <ng-container matColumnDef="invPrice">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ราคาทุนรวม</th>
    <td mat-cell *matCellDef="let element" class="right">
      {{ element.invPrice }}
    </td>
  </ng-container>
  <ng-container matColumnDef="mhrPrice">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ราคาขายรวม</th>
    <td mat-cell *matCellDef="let element" class="right">
      {{ element.mhrPrice }}
    </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>action</th>
    <td mat-cell *matCellDef="let element" class="center"></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedINV; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedINV"></tr>
</table>
