<ngx-spinner type="timer"></ngx-spinner>
<div class="container-fluid">
  <div class="row rowtop">
    <div class="col">
      <h2><i class="fas fa-spell-check"></i> จับคู่โค้ดยา</h2>
    </div>
    <div class="col center">
      <mat-form-field>
        <input matInput (keyup)="drugFilter($event)" #input />
        <mat-placeholder>ค้นหายา : INVS</mat-placeholder>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div class="col right">
      <p class="red">*ข้อมูลมาจาก INVS ชื่อยาอาจไม่ตรงกับข้อมูลของ HomC</p>
    </div>
  </div>
  <div class="example-container mat-elevation-z8">
    <table
      mat-table
      [dataSource]="dataINVCode"
      #sortINVCode="matSort"
      matSort
      matSortActive="DRUG_NAME"
      matSortDirection="asc"
      matTableExporter
      #exporterDrugCode="matTableExporter"
    >
      <ng-container matColumnDef="WORKING_CODE">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>INVS</th>
        <td mat-cell *matCellDef="let element" class="">
          {{ element.WORKING_CODE }}
        </td>
      </ng-container>
      <ng-container matColumnDef="HIS_CODE">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>HomC</th>
        <td mat-cell *matCellDef="let element" class="">
          {{ element.HIS_CODE }}
        </td>
      </ng-container>
      <ng-container matColumnDef="DRUG_NAME">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อยา</th>
        <td mat-cell *matCellDef="let element" class="">
          {{ element.DRUG_NAME }}
        </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="center">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            (click)="editCode(element)"
            *ngIf="role === 'stock'"
          >
            <i class="far fa-edit"></i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayINVCode; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayINVCode"></tr>
    </table>
  </div>
  <div class="row rowbottom">
    <div class="col">
      <button
        type="button"
        class="btn btn-light btns"
        (click)="
          exporterDrugCode.exportTable('xlsx', {
            fileName: 'จับคู่โค้ดยา',
            sheet: 'sheet1',
            Props: { Author: 'Talha' }
          })
        "
      >
        <i class="fas fa-file-download blue"></i> ส่งออกไฟล์
      </button>
    </div>
    <div class="col-md-auto">
      <mat-paginator
        #paginatorINVCode="matPaginator"
        [length]="10"
        [pageSize]="10"
        [pageSizeOptions]="[10, 25, 50]"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="mapCode"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-labelledby="mapCodeLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title m-0" id="mapCodeLabel">
          <i class="fas fa-spell-check"></i> จับคู่โค้ดยา
        </h2>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="cancelMatching()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <form
              [formGroup]="searchInv"
              (ngSubmit)="searchInv.valid ? submitISearchInv() : ''"
            >
              <div class="input-group mt-2">
                <h2>INV</h2>
                <input
                  type="text"
                  class="form-control ml-2"
                  placeholder="INV Code"
                  formControlName="invCode"
                  [readonly]="mapType"
                />
                <button
                  type="submit"
                  class="btn btn-primary form-group"
                  *ngIf="!mapType"
                >
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </form>
            <h3>{{ invDrug.name }}</h3>
          </div>
          <div class="col" style="border-left: 1px solid lightgray">
            <form
              [formGroup]="searchHomc"
              (ngSubmit)="searchHomc.valid ? submitISearchHomc() : ''"
            >
              <div class="input-group mt-2">
                <h2>HomC</h2>
                <input
                  type="text"
                  class="form-control ml-2"
                  placeholder="homc Code"
                  formControlName="homCode"
                />
                <button type="submit " class="btn btn-light form-group btns ml-2">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </form>
            <h3>{{ homcDrug.name }}</h3>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="p-2">
          <button
            *ngIf="invDrug.code && homcDrug.code"
            type="button"
            class="btn btn-danger mr-2"
            (click)="removeMap()"
          >
            ลบการจับคู่
          </button>

          <button
            *ngIf="invDrug.code && homcDrug.code"
            type="button"
            class="btn btn-primary mr-2"
            (click)="submitMatching()"
          >
            จับคู่
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            (click)="cancelMatching()"
          >
            ปิด
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
